/* all link1 */

.l1{
    
    color: black;
   
    
   
    font-weight: bold;
  
   
    
    
}
.l2{
    
    color: black;
   
    
   
    font-weight: bold;
  
   
    
    
}

/* all link */

.div1{
   
    border-style: solid;
    height: 600px;
    margin: auto;
    background-color: rgb(0, 170, 255);
}


.l11{
    color: black;
    margin-left: 200px;
    font-weight: bold;
    
}

.l12{
    color: black;
    margin-left: 203px;
    font-weight: bold;
}

.l1a{
    color: black;
    font-weight: bold;
    margin-left: 408px;
    
  
}

.l1b{
    color: black;
    margin-left: 399px;
    font-weight: bold;
}

.l1c{
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

.l1d{
    color: black;
    margin-left: 44px;
    font-weight: bold;
}

h1{
    text-align: center;
}
a{
    text-decoration: none;
    font-weight: bold;
}
.m1{
    margin-left: 400px;
}
.m2{
    margin-left: 150px;
}
.m3{
    margin-left: 600px;
}
.m4{
    margin-left: 620px;
    color: red;
}
.m5{
    margin-left: 690px;
}

.ioi1{

    margin-left: 450px;
}
