#a1{
    
    
    text-decoration: none;
    color: black;
    margin-left: 50%;
    margin-top: 300px;
    font-weight: bold;
  
   
    background-color: aliceblue;
    
    
    
    
    
}

#a2{
    
    
    text-decoration: none;
    color: black;
    margin-left: 710px;
    margin-top: 300px;
    font-weight: bold;
  
   
   
    background-color: aliceblue;
    
    
    
    
    
}