#a1{
    text-decoration: none;
    color: black;
   margin-left: 550px;
    
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    border-style: solid;
    padding: 20px;
    border-color:red ;
    background-color: aliceblue;
    
    
    
}

#a2{
    width:fit-content;
    text-decoration: none;
    color: black;
    margin-left: 180px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    border-style: solid;
    padding: 20px;
    border-color:red ;
    background-color: aliceblue;
    
}





h1{
    margin-bottom: 100px;
}
