#a1{
    
    
    text-decoration: none;
    color: black;
    margin-left: 640px;
    font-weight: bold;
  
   
    background-color: aliceblue;
    
    
    padding: 10px;
    
    
}

#a2{
    margin-left: 641px;
    padding: 10px;
    text-decoration: none;
    color: black;
    
    font-weight: bold;
  
   
   
    background-color: aliceblue;
    
    
    
    
    
}